[Unit]
Description=Boat Instrument running under flutter-pi
After=avahi-daemon.service
Wants=avahi-daemon.service

[Service]
User=root
#WorkingDirectory=/root
Type=simple
ExecStart=sh -c "cd /root/boatinstrument; ./flutter-pi --release ."


[Install]
WantedBy=multi-user.target
